 <form class="form-signin" method="post" style="width:50%">
        <h2 class="h3 mb-3 font-weight-normal">Sign up Authenticator</h2>

        <input type="text" id="usernameID" name="username" class="form-control top" placeholder="User name" required autofocus>
        <input type="password" id="passwordID" name="password" class="form-control bottom" placeholder="password" required autofocus>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p>Not a member yet? <a href="/newuser/form">Register</a></p>
        
        <p class="mt-5 mb-3 text-muted">&copy; Threeplus</p>
</form>